streamlit
streamlit_webrtc
onnxruntime
scikit-learn
insightface
redis
opencv-python-headless
pandas
numpy
python-dotenv
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
onnx 
onnxruntime-gpu
albumentations
